
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    margin-top: auto;
}

.toto {
    display: none;
}

/*
#reservation_meal_time option {
    display: none;
}*/
